body {font-family: Arial, Helvetica, sans-serif;}
h1 {font-size: 38px;}
h2 {font-size: 32px;}
.ingredients-list { list-style: square inside;}
.directions-list { list-style: upper-roman inside;}
header > img {width: 100px;}
ul li a {text-decoration: none;color: inherit;}
* {background-color: rgb(240, 240, 111);}
select {cursor: pointer; outline: none;}
input[type=radio] {cursor: pointer; outline: none;}
input[type=submit] {cursor: pointer; outline: none;}
input:last-child {background-color: gold; }
input:last-child:hover {background-color: gray;}
ol li:nth-child(odd) {background-color: rgb(218, 236, 179);}
h2+.user_review {border-top: 1px solid; }
input[type=radio] {-webkit-appearance: none; background-image: url(./stars.png);width: 25px;height: 25px;}
input[type=radio]:hover {background-position: center}
input[type=radio]:checked {background-position: bottom}